.login-container {
    width: 100%;
    display: flex;
    max-width: 1150px;
    margin: 40px auto;
    gap: 50px;
}

.login-left {
    flex: 1;
    border-radius: 16px;
    overflow: hidden;
}

.login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.login-right {
    flex: 1;
    padding: 20px;
}

.login-title {
    font-size: 32px;
    font-weight: 600;
}

.login-subtitle {
    margin-top: 5px;
    color: #555;
    font-size: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.form-group input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: #0D6EFD;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
}

.google-btn {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 15px;
}

.create-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.create-text a {
    color: #0D6EFD;
    font-weight: 600;
}

.forgot-password-link a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password-link a:hover {
    color: #000;
    text-decoration: underline;
}